
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

nav {
  background-color: #1e293b;
  padding: 12px 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 500;
}

nav a:hover {
  color: red;
}
.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 150px;
}

.product img{
  width: 100px;
  margin:50px auto;
}
.page {
  max-width: 900px;
  margin: 30px auto;
  background: #f4f6f8;
  padding: 20px;
  border-radius: 6px;
}


h2 {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.product-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.product-item a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 500;
}

.product-item a:hover {
  text-decoration: underline;
}

.product-detail img {
  display: block;
  margin: 15px 0;
}

button {
  padding: 10px 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

.empty-text {
  color: #777;
  font-style: italic;
}


